body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  background-color: #ffffff;
}

.nav-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-style: normal;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 24px 0 24px;
  margin: 0;
}

.link-logo {
  max-width: 116px;
  max-height: 24px;
  justify-items: flex-start;
  align-content: flex-start;
  margin-right: 76px;
}

.link-logo,
.link-logo:focus,
.link-logo:hover {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.nav-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  display: flex;
}

.address-link {
  display: block;
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.section-header {
  background-color: #2e2f42;
  align-items: center;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.page-title {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
}

.button {
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 48px auto;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-services {
  padding-top: 120px;
  padding-bottom: 120px;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.services-list-items {
  width: calc((100% - 72px) / 4);
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 0;
}

.title-small {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.link {
  font-size: 12px;
  line-height: 1.33;
  color: #4d5ae5;
  letter-spacing: 0.04em;
  text-decoration: underline;
}

.link:focus,
.link:hover {
  color: #4d5ae5;
}

.section-team {
  background-color: #f4f4fd;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin: 0 auto 72px 0;
}

.section-team-list {
  display: flex;
  gap: 24px;
  flex-direction: row;
  padding: 0;
}

.team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border: 1px solid #e7e9fc;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.team-container {
  padding: 32px 0;
  margin-bottom: 0;
}

.title-team {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin: 32px 0 0 0;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 0;
}

.title-small-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin: 0;
}

.section-portfolio {
  text-align: center;
  padding-bottom: 120px;
  padding-top: 120px;
}

.section-title-portfolio {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin: 0 auto 72px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding: 0;
  margin: 0;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  border-top: none;
  text-align: left;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 0;
}

.title-small-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-section .link-logo {
  display: inline-block;
  margin: 0 0 16px 0;
}

.footer-section .title-small {
  width: 264px;
}

.accent {
  color: #2e2f42;
}

.footer-section .accent,
.footer-section .title-small {
  color: #f4f4fd;
}

ul {
  list-style: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.image {
  display: block;
  width: 100%;
}
